* {
  box-sizing: border-box;
}

:root {
  --header-bg: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ========== Common============ */
.container {
  width: 1170px;
  margin: 0 auto;
  max-width: calc(100% - 48px);
}

a {
  text-decoration: none;
}

/* ========== Header============ */
.header {
  min-width: 100vh;
  background-color: var(--header-bg);
}

.header-top {
  display: flex;
}

.logo {
  display: flex;
}

.logo__content {
  justify-content: space-between;
  align-items: center;
  padding: 8px 21px;
}
